<footer class="site-footer h-card">
  <data class="u-url" href="/probable-potato/"></data>
  <div class="wrapper">
    <div class="social-links"><ul class="social-media-list"><li><a rel="me" href="https://github.com/RolandRiachi" title="RolandRiachi"><svg class="svg-icon grey"><use xlink:href="/probable-potato/assets/minima-social-icons.svg#github"></use></svg></a></li><li><a rel="me" href="https://twitter.com/fastdotai" title="fastdotai"><svg class="svg-icon grey"><use xlink:href="/probable-potato/assets/minima-social-icons.svg#twitter"></use></svg></a></li></ul>
</div>
  </div>
</footer>
